{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Set Up Security</h2>
            <hr />
            <form method="POST">
              {% csrf_token %}
                <p>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br>
                </p>
              <h3>
                Security Question: What is your favorite food?
              </h3>
                <p>
                    <label for="securityAnswer">Security Answer:</label>
                    <input type="text" id="securityAnswer" name="securityAnswer" required><br>
                </p>
              <button type="submit" class="btn bg-dark text-white">
                Enter
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}