{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Set Up Security</h2>
            <hr />
            <form method="POST">
              {% csrf_token %}
                <p>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required>
                </p>

              <p>
                <label>Security Question 1: What is your favorite food?</label><br>
                <input type="text" id="securityAnswer1" name="securityAnswer1" required>
              </p>

              <p>
                <label>Security Question 2: What is your mother's maiden name?</label><br>
                <input type="text" id="securityAnswer2" name="securityAnswer2" required>
              </p>

              <button type="submit" class="btn bg-dark text-white">
                Enter
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}