{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Sign Up</h2>
            <hr />
            <form method="POST">
              {% csrf_token %}
              {{ template_data.form.as_p }}

               <p>
                <label for = "securityAnswer1">Security Question 1: What is your favorite food?</label>
                <input type="text" id="securityAnswer1" name="securityAnswer1" class="form-control" required>
              </p>

              <p>
                <label for = "securityAnswer2">Security Question 2: What is your mother's maiden name?</label>
                <input type="text" id="securityAnswer2" name="securityAnswer2" class="form-control" required>
              </p>

              <button type="submit" class="btn bg-dark text-white">
                Sign Up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}